doctype html
html
  head
    include shared/head
  body.page

    .cassete
      .cassete-screw.cassete-screw--position-left-top
      .cassete-screw.cassete-screw--position-left-bottom
      .cassete-screw.cassete-screw--position-right-top
      .cassete-screw.cassete-screw--position-right-bottom

      .cassete-sticker
        .cassete-middleton
          .cassete-coil.cassete-coil--type-left
          .cassete-coil.cassete-coil--type-right

      .cassete-protrusion
        .cassete-protrusion__hole.cassete-protrusion__hole--type-outside
        .cassete-protrusion__hole.cassete-protrusion__hole--type-inside
        .cassete-protrusion__hole.cassete-protrusion__hole--type-inside
        .cassete-protrusion__hole.cassete-protrusion__hole--type-outside

        .cassete-screw.cassete-screw--position-protrusion

    include shared/footer
