doctype html
html
  head
    include shared/head
  body.page

    .cassete
      .cassete-screw.cassete-screw--position-left-top
      .cassete-screw.cassete-screw--position-left-bottom
      .cassete-screw.cassete-screw--position-right-top
      .cassete-screw.cassete-screw--position-right-bottom

    include shared/footer
