doctype html
html
  head
    include shared/head
  body.page

    .cassete
      .cassete-screw.cassete-screw--position-left-top
      .cassete-screw.cassete-screw--position-left-bottom
      .cassete-screw.cassete-screw--position-right-top
      .cassete-screw.cassete-screw--position-right-bottom

      .cassete-sticker
        .cassete-sticker__text
          .cassete-sticker__textLine
          .cassete-sticker__textLine
          .cassete-sticker__textLine
          img.casette-sticker__pic(src='https://avatars2.githubusercontent.com/u/971061?s=230')
          .cassete-sticker__textWord
            | Dmitry Vislov
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;aka vdv73rus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Side A

        .cassete-middleton
          .cassete-coil.cassete-coil--type-left
            .cassete-coil__gear.cassete-coil__gear--size-small
              .cassete-coil__teeth
              .cassete-coil__teeth
              .cassete-coil__teeth
              .cassete-coil__teeth
              .cassete-coil__teeth
              .cassete-coil__teeth
          .cassete-coil.cassete-coil--type-right
            .cassete-coil__gear.cassete-coil__gear--size-big
              .cassete-coil__teeth
              .cassete-coil__teeth
              .cassete-coil__teeth
              .cassete-coil__teeth
              .cassete-coil__teeth
              .cassete-coil__teeth

      .cassete-protrusion
        .cassete-protrusion__hole.cassete-protrusion__hole--type-outside
        .cassete-protrusion__hole.cassete-protrusion__hole--type-inside
        .cassete-protrusion__hole.cassete-protrusion__hole--type-inside
        .cassete-protrusion__hole.cassete-protrusion__hole--type-outside

        .cassete-screw.cassete-screw--position-protrusion

    include shared/footer
