*
  box-sizing border-box
  
cassete-width = 60vw
cassete-height = cassete-width * 0.638
cassete-screw-padding = 0.5vw
  

html
  font-size 10px
  height 100%

.page
  color #000
  height 100%
  display flex


.cassete
  width cassete-width
  height cassete-height
  border-radius ( cassete-width / 50 )
  margin auto
  border 3px solid #000
  position relative
  

.cassete-screw
  width 1.5vw
  height 1.5vw
  border-radius 50%
  border 2px solid #000
  position absolute
  overflow hidden
  
  &:before
    content ''
    font-size 0
    width 0.8vw
    height 2px
    position absolute
    left 50%
    top 50%
    background-color #000
    transform translate(-50%, -50%)
  
  &:after
    content ''
    font-size 0
    width 2px
    height 0.8vw
    position absolute
    left 50%
    top 50%
    background-color #000
    transform translate(-50%, -50%)
    
  
  &--position-left-top
    left cassete-screw-padding
    top cassete-screw-padding
    transform rotate(15deg)
    
    
  &--position-left-bottom
    left cassete-screw-padding
    bottom cassete-screw-padding
    transform rotate(7deg)
    
  &--position-right-top
    right cassete-screw-padding
    top cassete-screw-padding
    transform rotate(30deg)
    
  &--position-right-bottom
    right cassete-screw-padding
    bottom cassete-screw-padding
    transform rotate(22deg)
