*
  box-sizing border-box

cassete-width = 45vw
cassete-height = cassete-width * 0.638
cassete-screw-padding = cassete-width * 0.005

pi = 3.14


html
  font-size 10px
  height 100%

.page
  color #000
  height 100%
  display flex
  background url('../images/bg.jpg') center top no-repeat
  background-size cover


.cassete
  width cassete-width
  height cassete-height
  border-radius cassete-width * 0.03
  margin auto
  border 3px solid #000
  position relative
  overflow hidden
  z-index 0
  background #fff
  box-shadow 10px 10px #333

  &:before,
  &:after
    content ''
    font-size 0
    width 0.6vw
    height 10vw
    border 3px solid #000
    position absolute
    bottom 2.5vw

  &:after
    border-left none
    right -0.6vw
    transform translateX(3px)

  &:before
    border-right none
    left -0.6vw
    transform translateX(-3px)


.cassete-screw
  width cassete-width * 0.045
  height cassete-width * 0.045
  border-radius 50%
  border 2px solid #333
  position absolute
  z-index 20

  &:before,
  &:after
    content ''
    font-size 0
    position absolute
    left 50%
    top 50%
    background-color #333
    transform translate(-50%, -50%)

  &:before
    width 60%
    height 3px

  &:after
    width 3px
    height 60%


  &--position-left-top
    left cassete-screw-padding
    top cassete-screw-padding
    transform rotate(15deg)


  &--position-left-bottom
    left cassete-screw-padding
    bottom cassete-screw-padding
    transform rotate(7deg)

  &--position-right-top
    right cassete-screw-padding
    top cassete-screw-padding
    transform rotate(30deg)

  &--position-right-bottom
    right cassete-screw-padding
    bottom cassete-screw-padding
    transform rotate(22deg)

  &--position-protrusion
    transform rotate(7deg) translate(-50%)
    left 50%
    top 1.5vw



.cassete-protrusion
  border-bottom cassete-width * 0.15 solid #000
  width cassete-width * 0.68
  height 0
  position absolute
  bottom 0
  border-left 2.5vw solid transparent
  border-right 2.5vw solid transparent
  left 50%
  transform translate(-50%)
  z-index 10

  &:after
    content ''
    display block
    border-bottom cassete-width * 0.15 solid #fff
    width 99%
    height 0
    position absolute
    top 3px
    border-left 2.5vw solid transparent
    border-right 2.5vw solid transparent
    left 50%
    transform translate(-50%)
    z-index 12


.cassete-protrusion__hole
  width cassete-width * 0.05
  height cassete-width * 0.05
  position absolute
  z-index 20
  border-radius 50%
  border: 3px solid #000

  &--type-outside
    top cassete-width * 0.09

  &--type-inside
    top cassete-width * 0.085
    width cassete-width * 0.045
    height cassete-width * 0.045

  &:nth-child(1)
    left cassete-width * 0.05

  &:nth-child(2)
    left cassete-width * 0.15

  &:nth-child(3)
    right cassete-width * 0.15

  &:nth-child(4)
    right cassete-width * 0.05


.cassete-sticker
  width cassete-width * 0.89
  height cassete-width * 0.4
  border-radius cassete-width * 0.025
  border 1px solid #666
  background #F0F8BF
  position absolute
  top cassete-width * 0.05
  left 50%
  transform translate(-50%)

.cassete-sticker__text
  padding: cassete-width * 0.015 cassete-width * 0.05 0
  position relative

.cassete-sticker__textLine
  height cassete-width * 0.035
  border-bottom 1px solid #999

.cassete-sticker__textWord
  position absolute
  font-family 'Indie Flower', cursive
  left cassete-width * 0.2
  top cassete-width * 0.05
  font-size cassete-width * 0.04
  line-height cassete-width * 0.04
  transform: rotate(-1deg)

.casette-sticker__pic
  display block
  position absolute
  left cassete-width * 0.1
  top cassete-width * 0.048
  width cassete-width * 0.075
  height cassete-width * 0.075
  transform rotate(-5deg)
  box-shadow 1px 1px 0 0 #666


.cassete-middleton
  width cassete-width * 0.6
  height cassete-width * 0.17
  position absolute
  top cassete-width * 0.15
  left 50%
  transform translate(-50%)
  border cassete-width * 0.02 solid #666
  background-color #fff
  border-radius cassete-width * 0.02
  overflow hidden


.cassete-coil
  box-sizing content-box
  width cassete-width * 0.22
  height cassete-width * 0.22
  border-radius 50%
  border-style solid
  border-color #4f3127
  position absolute
  top 50%
  transform translateY(-50%)

  &--type-left
    border-width cassete-width * 0.04
    left (-1) * (cassete-width * 0.05 + cassete-width * 0.04)

  &--type-right
    border-width cassete-width * 0.12
    right (-1) * (cassete-width * 0.05 + cassete-width * 0.12)

.cassete-coil__gear
  content ''
  display block
  width cassete-width * 0.22
  height cassete-width * 0.22
  background-color #fff
  border cassete-width * 0.06 solid #ccc
  position absolute
  left 50%
  top 50%
  border-radius 50%
  transform translate(-50%, -50%)

.cassete-coil__teeth
  width cassete-width * 0.015
  height cassete-width * 0.02
  background-color #ccc
  position absolute
  left 50%
  top 50%

  for i in (1..6)
    &:nth-child({i})
      transform translateX(cassete-width * 0.05 * sin((PI * i) / 3) - cassete-width * 0.01) translateY(cassete-width * 0.05 * cos((PI * i) / 3) - cassete-width * 0.01) rotate(-60deg * i)
      &:after
        content sin((PI * i) / 3)
